:root {
    --UnitedNationsBlue: #6290c8;
    --GreenBlueCrayola: #3f88c5;
    --AppleGreen: #7fb800;
    --AppleGreen-Light: #dfff99;
    --OxfordBlue: #0d2c54;
    --SelectiveYellow: #ffba08;
    --DeepSaffron: #f39237;
    --RossoCorsa: #d00000;
    --PrincetonOrange: #ea7317;
}

.grn {
    background-color: var(--AppleGreen);
    color: white;
}

.grn:active {
    background-color: var(--AppleGreen-Light);
}

.grn:active > img {
    filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(85deg) brightness(87%) contrast(94%);
}

.gry {
    background-color: lightgrey;
    color: grey
}

.blu {
    background-color: SteelBlue;
    color: white;
}

.blu:active {
    background-color: lightskyblue;
}