html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #2F2F2F;
  color: white;
}

p{
  font-size: 1.5rem;
}

.button {
  background-color: lightgrey;
  display: inline-block;
  border: none;
  border-radius: 8px;
  padding: 16px 40px;
  text-decoration: none;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}

.grn {
  background-color: limegreen;
  color: white;
}

.grn:hover {
  background-color: lightgreen;
}

.gry {
  background-color: lightgrey;
  color: grey
}

.blu {
  background-color: RoyalBlue;
  color: white;
}

.blu:hover {
  background-color: lightskyblue;
}

a{
  text-decoration: none;
  color: dodgerblue;
}

#favcolor {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  margin-bottom: 8px;
}

.icon {
	vertical-align: middle;
	height: 42px;
	filter: invert(100%);
}

@media only screen and (min-width:1000px) {
  .header {
    background-color: SteelBlue;
    display: flex;
    border-radius: 10px;
    padding: 10px 0;
    margin: auto;
    width: 25%;
  }
}
@media only screen and (max-width:1000px) {
  .header {
    background-color: SteelBlue;
    display: flex;
    border-radius: 10px;
    padding: 10px 0;
    margin: auto;
    width: 100%;
  }
}

.title {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 75%;
  color: white;
  font-size: 2rem;
}

.set {
  display: flex;
  width: 25%;
  align-items: center;
}

.settings {
  width: 32px;
  display: block;
  margin: auto;
  filter: invert(100%);
}

.info {
  /*background-color: RoyalBlue;*/
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.75rem;
  padding-bottom: 20px;
  margin: auto;
}

.arrow {
  font-size: 36px;
}