@import "colors.css";

html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #2F2F2F;
  color: white;
}

p{
  font-size: 1.5rem;
}

.button {
  background-color: lightgrey;
  display: inline-block;
  border: none;
  border-radius: 8px;
  padding: 16px 40px;
  text-decoration: none;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: dodgerblue;
}

.icon {
	vertical-align: middle;
	height: 42px;
	filter: invert(100%);
}

.header {
  background-color: var(--SelectiveYellow);
  display: flex;
  border-radius: 10px;
  padding: 10px 0;
  margin: auto;
}

@media only screen and (min-width:1000px) {
  .header {
    width: 25%;
  }
}
@media only screen and (max-width:1000px) {
  .header {
    width: 100%;
  }
}

.title {
  color: black;
  font-size: 2rem;
  margin: auto;
}

.head-icon {
  width: 32px;
  display: block;
  margin: auto;
}

.section {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.info {
  /*background-color: RoyalBlue;*/
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.75rem;
  padding-bottom: 20px;
  margin: auto;
}

.hidden {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  width: 3em;
  margin: 10px;
  font-size: 16px;
  border: 1px solid white;
  outline: none;
}

input:invalid {
  background-color: salmon;
}

/*
input:invalid + span::after {
  content: "✖";
  padding-left: 5px;
}

input:valid + span::after {
  content: "✓";
  padding-left: 5px;
}
*/